body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}


/*Bootstrap Overrides*/

.navbar-inverse {
    background-color: #7d7777;
    border-color: #7d7777;
}
.navbar-inverse .navbar-brand {
    color: #f6f1f1;
}
.navbar-inverse .navbar-nav > li > a {
    color: #f6f1f1;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    font-size: 17px;
    height: 40px;
    border-radius: 9px;
}
#save {
    font-size: 17px;
    padding: 7px 20px;
    border-radius: 9px;
}
.btn {
    font-size: 12px;
    padding: 7px 14px;
    border-radius: 9px;
}
.form-control:focus {
    box-shadow: none;
}
h2, .h2 {
    font-size: 40px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 40px;
    margin-bottom: 40px;
}
h3, .h3 {
    font-size: 30px;
    font-weight: bold;
    color: #7d7777;
}
#login-div {
    position: absolute;
    left: 40%;
    top: 40%;
    border: 1px solid #ccc;
    padding: 10px 10px;
}